In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df =pd.read_csv("gender_classification_v7.csv")
df.head()

   long_hair  forehead_width_cm  ...  distance_nose_to_lip_long  gender
0          1               11.8  ...                          1    Male
1          0               14.0  ...                          0  Female
2          0               11.8  ...                          1    Male
3          0               14.4  ...                          1    Male
4          1               13.5  ...                          0  Female

[5 rows x 8 columns]

In [ ]:
df.shape

(5001, 8)

In [ ]:
df.columns

Index(['long_hair', 'forehead_width_cm', 'forehead_height_cm', 'nose_wide',
       'nose_long', 'lips_thin', 'distance_nose_to_lip_long', 'gender'],
      dtype='object')

In [ ]:
df.describe()

         long_hair  forehead_width_cm  ...    lips_thin  distance_nose_to_lip_long
count  5001.000000        5001.000000  ...  5001.000000                5001.000000
mean      0.869626          13.181484  ...     0.493101                   0.498900
std       0.336748           1.107128  ...     0.500002                   0.500049
min       0.000000          11.400000  ...     0.000000                   0.000000
25%       1.000000          12.200000  ...     0.000000                   0.000000
50%       1.000000          13.100000  ...     0.000000                   0.000000
75%       1.000000          14.000000  ...     1.000000                   1.000000
max       1.000000          15.500000  ...     1.000000                   1.000000

[8 rows x 7 columns]

In [ ]:
df.gender.unique()

array(['Male', 'Female'], dtype=object)

In [ ]:
df.long_hair.unique()

array([1, 0])

In [ ]:
lips_thinList = df.lips_thin.unique()
lips_thinList.sort()
print(lips_thinList)

[0 1]

In [ ]:
df.duplicated().sum()

1768

In [ ]:
df.isnull().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

In [ ]:
x=df[['long_hair', 'forehead_height_cm', 'nose_wide',
       'nose_long', 'lips_thin', 'gender']]
x.columns

Index(['long_hair', 'forehead_height_cm', 'nose_wide', 'nose_long',
       'lips_thin', 'gender'],
      dtype='object')

In [ ]:
x.shape

(5001, 6)

In [ ]:
y=df["lips_thin"]
y

0       1
1       1
2       1
3       1
4       0
       ..
4996    0
4997    0
4998    0
4999    0
5000    1
Name: lips_thin, Length: 5001, dtype: int64

In [ ]:
x.head()

   long_hair  forehead_height_cm  nose_wide  nose_long  lips_thin  gender
0          1                 6.1          1          0          1    Male
1          0                 5.4          0          0          1  Female
2          0                 6.3          1          1          1    Male
3          0                 6.1          0          1          1    Male
4          1                 5.9          0          0          0  Female

In [ ]:
y.head

<bound method NDFrame.head of 0       1
1       1
2       1
3       1
4       0
       ..
4996    0
4997    0
4998    0
4999    0
5000    1
Name: lips_thin, Length: 5001, dtype: int64>

In [ ]:
from sklearn.preprocessing import LabelEncoder
lel = LabelEncoder()
x["gender"] = lel.fit_transform(x["gender"])
x.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   long_hair  forehead_height_cm  nose_wide  nose_long  lips_thin  gender
0          1                 6.1          1          0          1       1
1          0                 5.4          0          0          1       0
2          0                 6.3          1          1          1       1
3          0                 6.1          0          1          1       1
4          1                 5.9          0          0          0       0

In [ ]:
x.head(11)

    long_hair  forehead_height_cm  nose_wide  nose_long  lips_thin  gender
0           1                 6.1          1          0          1       1
1           0                 5.4          0          0          1       0
2           0                 6.3          1          1          1       1
3           0                 6.1          0          1          1       1
4           1                 5.9          0          0          0       0
5           1                 6.8          1          1          1       1
6           1                 6.2          1          1          1       1
7           0                 5.2          0          0          0       0
8           1                 5.4          1          0          1       0
9           1                 5.4          0          0          0       0
10          0                 5.4          1          1          1       1

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("encoder",OneHotEncoder(),[5])],remainder="passthrough")
x = ct.fit_transform(x)

In [ ]:
x=pd.DataFrame(x)
x.head(10)

     0    1    2    3    4    5    6
0  0.0  1.0  1.0  6.1  1.0  0.0  1.0
1  1.0  0.0  0.0  5.4  0.0  0.0  1.0
2  0.0  1.0  0.0  6.3  1.0  1.0  1.0
3  0.0  1.0  0.0  6.1  0.0  1.0  1.0
4  1.0  0.0  1.0  5.9  0.0  0.0  0.0
5  0.0  1.0  1.0  6.8  1.0  1.0  1.0
6  0.0  1.0  1.0  6.2  1.0  1.0  1.0
7  1.0  0.0  0.0  5.2  0.0  0.0  0.0
8  1.0  0.0  1.0  5.4  1.0  0.0  1.0
9  1.0  0.0  1.0  5.4  0.0  0.0  0.0

In [ ]:
# melakukan normalisasi data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x=sc.fit_transform(x)
x=pd.DataFrame(x)
x.head(10)

        0       1         2         3         4         5         6
0 -1.0002  1.0002  0.387194  0.283971  1.012273 -1.015924  1.013894
1  0.9998 -0.9998 -2.582682 -1.009418 -0.987876 -1.015924  1.013894
2 -1.0002  1.0002 -2.582682  0.653511  1.012273  0.984326  1.013894
3 -1.0002  1.0002 -2.582682  0.283971 -0.987876  0.984326  1.013894
4  0.9998 -0.9998  0.387194 -0.085568 -0.987876 -1.015924 -0.986297
5 -1.0002  1.0002  0.387194  1.577361  1.012273  0.984326  1.013894
6 -1.0002  1.0002  0.387194  0.468741  1.012273  0.984326  1.013894
7  0.9998 -0.9998 -2.582682 -1.378958 -0.987876 -1.015924 -0.986297
8  0.9998 -0.9998  0.387194 -1.009418  1.012273 -1.015924  1.013894
9  0.9998 -0.9998  0.387194 -1.009418 -0.987876 -1.015924 -0.986297

In [106]:
#splitting data info train and test set
from sklearn.model_selection import train_test_split
xtr,xts = train_test_split(x,test_size=0.2)
print(x.shape)
print(xtr.shape)
print(xts.shape)

(5001, 1)
(4000, 1)
(1001, 1)